<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="{{{application_id_android.dotCase()}}}"><!--{{{org_name.dotCase()}}}.{{{app_name.snakeCase()}}}-->
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
